*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(/css.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    width: 80%;
    height: 400PX;
    /* border: 2px solid whitesmoke; */
    margin-top: 20PX;
    margin-left: 10PX;
}

#head1{
    font-family:cursive;
    font-size: 3rem;
    font-weight: 600;
    color: snow;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 5px;
    padding: 10px 10px;
    /* margin: 2px 2px; */
}

#head4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    color: rgb(218, 210, 210);
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 5px;
    padding: 10px 10px;
}

.p1{
    font-family:serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(21, 21, 56);
    text-transform:capitalize;
    letter-spacing: 3.5px;
    word-spacing: 4px;
    padding: 12px 10px;
}

.p1 > span{
    font-size:40px;
    color: rgb(176, 197, 255);
    font-weight: 700;
    font-family:monospace
}

.p2{
    font-family:serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(21, 21, 56);
    text-transform:capitalize;
    letter-spacing: 3.5px;
    word-spacing: 4px;
    padding: 12px 10px;
    
}


.list{
    /* list-style:none; */
    list-style-position: inside;
    font-size: large;
    margin-left: 380px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: fantasy;
    font-weight: 800;
    color: rgb(2, 0, 99);
}